@page "/"

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal"><a href="https://github.com/m7clarke/BarcodeCreator">Barcode Creator</a></h1>
    <p>Generate a PDF that contains a Code 128 barcode.</p>

    <EditForm class="form-barcode" Model="@barcodeContent" OnValidSubmit="@HandleOnValidSubmitAsync">
        <DataAnnotationsValidator />

        <label for="inputText" class="sr-only">Barcode content</label>
        <InputText id="inputText" @bind-Value="barcodeContent.Text" class="form-control" placeholder="Barcode content" required autofocus />

        <button class="btn btn-lg btn-primary btn-block" type="submit">Export PDF</button>
    </EditForm>
</div>
